@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #242424;
  background-color: #fbfbfb;
}

.side-stripe {
  background: repeating-linear-gradient(
    45deg,
    #e8e8e8,
    #e8e8e8 1rem,
    #fbfbfb 1rem,
    #fbfbfb 2rem
  );
  animation: side-stripe 4s linear infinite;
  background-size: 2.828rem 2.828rem;
}

::selection {
  background-color: #51b660;
  color: white;
}

@keyframes side-stripe {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 2.828rem;
  }
}

@layer components {
  .hover-inverse {
    @apply duration-500 ease-out hover:duration-80 hover:bg-neutral-600 hover:text-neutral-50;
  }
}
