@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

@keyframes side-stripe {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 2.828rem;
  }
}

@layer components {
  .hover-inverse {
    @apply duration-500 ease-out hover:duration-80 hover:bg-primary;
  }

  ::selection {
    @apply bg-primary text-content;
  }
}
